@import 'activeadmin_addons/all';
// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.status_tag.verified { background: green; }
.status_tag.opened { background: orange; }

#active_admin_content:has(#filters_sidebar_section) { display: flex; flex-direction: column }
#active_admin_content div:has(> #filters_sidebar_section) { order: -1; margin: 0 -.5rem; display: flex; width: auto; }
#active_admin_content #filters_sidebar_section { width: auto; margin: 0 .5rem; flex: 1 1 100%;}
#active_admin_content #filters_sidebar_section:first-child { flex:  0 0 auto }
#active_admin_content #main_content_wrapper #main_content { margin: 0 }
div#main_content_wrapper:has(+ div#sidebar > #history_sidebar_section) > #main_content { margin-right: 300px; }
.table_tools { margin: 1rem 0; }

#filters_sidebar_section { padding-top: 8px; }
#search_status_sidebar_section { display: none; }
#filters_sidebar_section > h3 { display: none; }
#filters_sidebar_section > div > form { display: flex; flex-direction: row; justify-content: flex-end; }
#filters_sidebar_section > div { padding: 0px }
#filters_sidebar_section > div > form > div { padding: 0px 10px; }
div:has(> #filters_sidebar_section) { flex-direction: column; }
